# 2. Pandas in Python

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.1'

# Why we use Pandas?
 * __Pandas allows us to analyze big data and make conclusion based on satistical theories.__
 * __Pandas can clean messy data sets, and make them readable and relevant.__
 * __Relevant data is very important in data sciecne.__

# Data Science
 * __Data Science is a branch of computer science where we study how to store, use and analyze data for deriving information from it.__

# We can Pandas Do?
 * __Pandas gives you answers about the data. Like:__
    * __Is there a correlation between two or more columns?__
    * __What is the average value?__
    * __Max value?__
    * __Min Value?__
  
    * __Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values, This is called cleaning the data.__

# Data Structures in Pandas Library
 * __Pandas generally provide two data structure for manipulating data. They are:__
    * __1. Series__
    * __2. DataFrame__
  
# Pandas Series
 * __A pandas Series is a one-dimensional labeled array capable of holding data of any type(integer, string, float, python objects etc). The Axis labels are collectively called indexes.__

# Data Frame
 * __Pandas DataFrme is a two-dimensional data structure with labeled axes(rows and columns).__

In [5]:
import pandas as pd
import numpy as np

In [6]:
ser=pd.Series()
ser

Series([], dtype: object)

In [7]:
type(ser)

pandas.core.series.Series

In [8]:
data = np.array(['apple','elephant','kite','sun','moon','earth','jupiter','saturn','mars','venus'])
data

array(['apple', 'elephant', 'kite', 'sun', 'moon', 'earth', 'jupiter',
       'saturn', 'mars', 'venus'], dtype='<U8')

In [11]:
data.dtype

dtype('<U8')

In [12]:
data.size

10

In [14]:
ser=pd.Series(data)
print('Pandas Series:\n',ser)

Pandas Series:
 0       apple
1    elephant
2        kite
3         sun
4        moon
5       earth
6     jupiter
7      saturn
8        mars
9       venus
dtype: object

In [17]:
# Accessing these element using index value
print(ser[0])
print(ser[1])
print(ser[2])
print(ser[3])
print(ser[4])
print(ser[5])
print(ser[6])
print(ser[7])
print(ser[8])
print(ser[9])

apple
elephant
kite
sun
moon
earth
jupiter
saturn
mars
venus

In [18]:
ser.ndim

1

In [19]:
ser.size

10

# DataFrame

In [21]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [22]:
lst=['Python',"Java","JavaScript","Kotlin","C++","C#","Django","FastAPI","Bootstrap"]
lst

['Python',
 'Java',
 'JavaScript',
 'Kotlin',
 'C++',
 'C#',
 'Django',
 'FastAPI',
 'Bootstrap']

In [24]:
df=pd.DataFrame(lst)
df

            0
0      Python
1        Java
2  JavaScript
3      Kotlin
4         C++
5          C#
6      Django
7     FastAPI
8   Bootstrap

In [25]:
df.ndim

2

In [27]:
ser.ndim

1

In [28]:
# Creating a series

list_s=[1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [29]:
print(type(list_s))

<class 'list'>

In [30]:
series=pd.Series(list_s)
series

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [31]:
series.ndim

1

In [32]:
series.size

5

In [33]:
series.shape

(5,)

In [35]:
type(series)

pandas.core.series.Series

In [38]:
# creating new series using Series()

series2=pd.Series([1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [39]:
# Creating empty series

empty_s=pd.Series([])
empty_s

Series([], dtype: object)

In [41]:
series2

0    1
1    2
2    3
3    4
dtype: int64

In [42]:
# Changing row-index in series


series2=pd.Series([1,2,3,4],index=['a','b','c','d'])
series2

a    1
b    2
c    3
d    4
dtype: int64

In [43]:
# Changing datatype in pandas series
series2=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
series2

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [45]:
# how to set series name 
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name="dataValues")
series3

a    1.0
b    2.0
c    3.0
d    4.0
Name: dataValues, dtype: float64

In [46]:
# how to create series in single values(Scalar) => Scaler has one dimensional array.
scalar_s=pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

In [47]:
scalar_s=pd.Series(0.5,index=[1,2,3])
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [51]:
# how to create series with the help of python dictionary.

dict_s=pd.Series({'a':10,'b':20,'c':30},dtype=float)
dict_s

a    10.0
b    20.0
c    30.0
dtype: float64

In [49]:
dict_s['a']

10.0

In [80]:
# slicing series data
s4=pd.Series([1,2,3,4,5,6])
s4

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [81]:
# Slicing element inside the Seris
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [82]:
# print odd series
s4[::2]

0    1
2    3
4    5
dtype: int64

In [83]:
# printing even series

s4[::3]

0    1
3    4
dtype: int64

In [84]:
# how to find maximum values in series

s4

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [85]:
max(s4)

6

In [86]:
# changing element inside the Series

s4[3]=25
s4

0     1
1     2
2     3
3    25
4     5
5     6
dtype: int64

In [87]:
max(s4)

25

In [88]:
# finding minimum values inside the Series

min(s4)

1

In [89]:
# how to use condition operators in series
print(s4)
s4[1]<0

0     1
1     2
2     3
3    25
4     5
5     6
dtype: int64

False

In [90]:
s5=pd.Series([10,20,30,40,50,60,70])
s5

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [91]:
print(s4)
print(s5)

0     1
1     2
2     3
3    25
4     5
5     6
dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [92]:
s4[3]=4
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [94]:
# Adding two Series in one.
print(s4)
print(s5)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [95]:
# Adding two Series 

newSeries=s4+s5
print(newSeries)

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5    66.0
6     NaN
dtype: float64

In [96]:
s6=pd.Series([1,2,3])
s6

0    1
1    2
2    3
dtype: int64

In [97]:
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [98]:
new_Series=s6+s4
print(new_Series)

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [100]:
# multiplication
print(s4)
print(s6)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1
1    2
2    3
dtype: int64

In [101]:
multi_Series=s6*s4
print(multi_Series)

0    1.0
1    4.0
2    9.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [103]:
# finding Exponent between two seris
print(s4)
print(s6)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1
1    2
2    3
dtype: int64

In [104]:
expo_Series=s4**s6
print(expo_Series)

0     1.0
1     4.0
2    27.0
3     NaN
4     NaN
5     NaN
dtype: float64

In [105]:
# Finding Modulus between two series
print(s4)
print(s6)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1
1    2
2    3
dtype: int64

In [106]:
modulus_Series=s4%s6
modulus_Series

0    0.0
1    0.0
2    0.0
3    NaN
4    NaN
5    NaN
dtype: float64

# DataFrame()

In [108]:
import pandas as pd

In [110]:
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [111]:
list_of_list=[[1,2,3],[4,5,6],[2,3,4]]
list_of_list

[[1, 2, 3], [4, 5, 6], [2, 3, 4]]

In [112]:
df2=pd.DataFrame(list_of_list)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  2  3  4

In [129]:
df2[1][0]=100
df2

   0    1  2
0  1  100  3
1  4    5  6
2  2    3  4

In [135]:
df2[2][1]=16
df2

   0    1   2
0  1  100   3
1  4    5  16
2  2    3   4

In [137]:
# Creating pandas DataFrame from pyton dictionary(dictionary of list)
# creting dictionary
dict_Python={'ID':[11,22,33,44],"Name":["Ram","Shyam","Laxman","Bharat"]}
dict_Python

{'ID': [11, 22, 33, 44], 'Name': ['Ram', 'Shyam', 'Laxman', 'Bharat']}

In [138]:
df3=pd.DataFrame(dict_Python)
df3

   ID    Name
0  11     Ram
1  22   Shyam
2  33  Laxman
3  44  Bharat

In [141]:
df3['Name'][0]="Deepali"
df3

C:\Users\Admin\AppData\Local\Temp\ipykernel_5476\1073898131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Name'][0]="Deepali"

   ID     Name
0  11  Deepali
1  22    Shyam
2  33   Laxman
3  44   Bharat

In [143]:
df3['Name'][1]="Anushtha"
df3

C:\Users\Admin\AppData\Local\Temp\ipykernel_5476\2910496361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Name'][1]="Anushtha"

   ID      Name
0  11   Deepali
1  22  Anushtha
2  33    Laxman
3  44    Bharat

In [145]:
df3["Name"][2]="Priya"
df3

C:\Users\Admin\AppData\Local\Temp\ipykernel_5476\1192937961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Name"][2]="Priya"

   ID      Name
0  11   Deepali
1  22  Anushtha
2  33     Priya
3  44    Bharat

In [147]:
df3["Name"][3]="Saloni"
df3

C:\Users\Admin\AppData\Local\Temp\ipykernel_5476\2096408852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Name"][3]="Saloni"

   ID      Name
0  11   Deepali
1  22  Anushtha
2  33     Priya
3  44    Saloni

In [151]:
df3['ID'][0]=101
df3

C:\Users\Admin\AppData\Local\Temp\ipykernel_5476\1731132880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ID'][0]=101

    ID      Name
0  101   Deepali
1   22  Anushtha
2   33     Priya
3   44    Saloni

In [154]:
# Creating two dictionary values with unequal element

ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
ls_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]

In [155]:
df5=pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [161]:
df5['a'][0].dtype

dtype('int64')

In [166]:
# Creating dataFrame form dictionary of series
# pd.Series() <-----------------To Create Series
dict_sr={"ID":pd.Series([1,2,3]),"SN":pd.Series([111,222,333])}
dict_sr

{'ID': 0    1
 1    2
 2    3
 dtype: int64,
 'SN': 0    111
 1    222
 2    333
 dtype: int64}

In [167]:
df6=pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  111
1   2  222
2   3  333

# Pandas Read CSV
 * __A simple way to store big data sets is to use CSV file(Comma separated files).__
 * __CSV files contains plain text and is a well know format that can be read by everyone including pandas.__

In [168]:
import pandas as pd

df=pd.read_csv("C:\\Users\\Admin\\Downloads\\student_results.csv")
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
0,1001,10,2,9.0,3,5.0,50
1,1002,10,6,8.0,2,NaN,80
2,1003,10,3,NaN,2,NaN,60
3,1004,11,0,NaN,1,NaN,45
4,1005,11,4,NaN,2,NaN,75
5,1006,11,10,NaN,0,NaN,96
6,1007,12,4,6.0,0,NaN,80
7,1008,12,10,6.0,2,0.0,90
8,1009,12,2,8.0,2,4.0,60
9,1010,12,6,9.0,1,0.0,85